/* Figma Styles of your File */
:root {
  /* Colors */
  --applecom-athens-gray: #f5f5f7;
  --applecom-athens-gray-80: rgba(245, 245, 247, 0.8);
  --applecom-black: #000000;
  --applecom-black-16: rgba(0, 0, 0, 0.16);
  --applecom-black-48: rgba(0, 0, 0, 0.48);
  --applecom-black-56: rgba(0, 0, 0, 0.56);
  --applecom-black-72: rgba(0, 0, 0, 0.72);
  --applecom-black-80: rgba(0, 0, 0, 0.8);
  --applecom-black-88: rgba(0, 0, 0, 0.88);
  --applecom-black-squeeze: #f4f8fb;
  --applecom-brilliant-rose: #ea33c0;
  --applecom-dodger-blue: #2997ff;
  --applecom-martinique: #2d2a45;
  --applecom-midnight-blue: #002c66;
  --applecom-mischka-64: rgba(210, 210, 215, 0.64);
  --applecom-perano: #9fc6f4;
  --applecom-punga: #524617;
  --applecom-purple-heart: #7424b5;
  --applecom-quincy: #56412b;
  --applecom-science-blue: #0066cc;
  --applecom-science-blue: #0071e3;
  --applecom-shark: #1d1d1f;
  --applecom-white: #ffffff;
  --applecom-white-02: rgba(255, 255, 255, 0);

  /* Fonts */
  --applecom-sf-pro-regular-font-family: SfPro-Regular, sans-serif;
  --applecom-sf-pro-regular-font-size: 14px;
  --applecom-sf-pro-regular-line-height: 20px;
  --applecom-sf-pro-regular-font-weight: 400;
  --applecom-sf-pro-regular-font-style: normal;
  --applecom-sf-pro-regular-font-family: SfPro-Regular, sans-serif;
  --applecom-sf-pro-regular-font-size: 21px;
  --applecom-sf-pro-regular-line-height: 25px;
  --applecom-sf-pro-regular-font-weight: 400;
  --applecom-sf-pro-regular-font-style: normal;
  --applecom-sf-pro-regular-font-family: SfPro-Regular, sans-serif;
  --applecom-sf-pro-regular-font-size: 28px;
  --applecom-sf-pro-regular-line-height: 32px;
  --applecom-sf-pro-regular-font-weight: 400;
  --applecom-sf-pro-regular-font-style: normal;
  --applecom-sf-pro-regular-underline-font-family: SfPro-Regular, sans-serif;
  --applecom-sf-pro-regular-underline-font-size: 14px;
  --applecom-sf-pro-regular-underline-line-height: 20px;
  --applecom-sf-pro-regular-underline-font-weight: 400;
  --applecom-sf-pro-regular-underline-font-style: normal;
  --applecom-semantic-heading-2-font-family: SfPro-Semibold, sans-serif;
  --applecom-semantic-heading-2-font-size: 56px;
  --applecom-semantic-heading-2-line-height: 60px;
  --applecom-semantic-heading-2-font-weight: 600;
  --applecom-semantic-heading-2-font-style: normal;
  --applecom-semantic-heading-3-font-family: SfPro-Semibold, sans-serif;
  --applecom-semantic-heading-3-font-size: 12px;
  --applecom-semantic-heading-3-line-height: 16px;
  --applecom-semantic-heading-3-font-weight: 600;
  --applecom-semantic-heading-3-font-style: normal;
  --applecom-semantic-heading-3-font-family: SfPro-Semibold, sans-serif;
  --applecom-semantic-heading-3-font-size: 40px;
  --applecom-semantic-heading-3-line-height: 44px;
  --applecom-semantic-heading-3-font-weight: 600;
  --applecom-semantic-heading-3-font-style: normal;
  --applecom-semantic-item-font-family: SfPro-Regular, sans-serif;
  --applecom-semantic-item-font-size: 12px;
  --applecom-semantic-item-line-height: 16px;
  --applecom-semantic-item-font-weight: 400;
  --applecom-semantic-item-font-style: normal;
  --applecom-semantic-item-underline-font-family: SfPro-Regular, sans-serif;
  --applecom-semantic-item-underline-font-size: 12px;
  --applecom-semantic-item-underline-line-height: 16px;
  --applecom-semantic-item-underline-font-weight: 400;
  --applecom-semantic-item-underline-font-style: normal;
  --applecom-semantic-link-font-family: SfPro-Regular, sans-serif;
  --applecom-semantic-link-font-size: 12px;
  --applecom-semantic-link-line-height: 16px;
  --applecom-semantic-link-font-weight: 400;
  --applecom-semantic-link-font-style: normal;
  --applecom-semantic-link-font-family: SfPro-Regular, sans-serif;
  --applecom-semantic-link-font-size: 14px;
  --applecom-semantic-link-line-height: 20px;
  --applecom-semantic-link-font-weight: 400;
  --applecom-semantic-link-font-style: normal;
  --applecom-semantic-link-font-family: SfPro-Regular, sans-serif;
  --applecom-semantic-link-font-size: 14px;
  --applecom-semantic-link-line-height: 18px;
  --applecom-semantic-link-font-weight: 400;
  --applecom-semantic-link-font-style: normal;
  --applecom-semantic-link-font-family: SfPro-Semibold, sans-serif;
  --applecom-semantic-link-font-size: 14px;
  --applecom-semantic-link-line-height: 18px;
  --applecom-semantic-link-font-weight: 600;
  --applecom-semantic-link-font-style: normal;
  --applecom-semantic-link-font-family: SfPro-Regular, sans-serif;
  --applecom-semantic-link-font-size: 17px;
  --applecom-semantic-link-line-height: 20px;
  --applecom-semantic-link-font-weight: 400;
  --applecom-semantic-link-font-style: normal;
  --applecom-semantic-link-font-family: SfPro-Regular, sans-serif;
  --applecom-semantic-link-font-size: 21px;
  --applecom-semantic-link-line-height: 25px;
  --applecom-semantic-link-font-weight: 400;
  --applecom-semantic-link-font-style: normal;
  --applecom-semantic-link-font-family: SfPro-Bold, sans-serif;
  --applecom-semantic-link-font-size: 21px;
  --applecom-semantic-link-line-height: 25px;
  --applecom-semantic-link-font-weight: 700;
  --applecom-semantic-link-font-style: normal;
  --applecom-semantic-small-font-family: SfPro-Regular, sans-serif;
  --applecom-semantic-small-font-size: 12px;
  --applecom-semantic-small-line-height: 16px;
  --applecom-semantic-small-font-weight: 400;
  --applecom-semantic-small-font-style: normal;
  --applecom-semantic-small-underline-font-family: SfPro-Regular, sans-serif;
  --applecom-semantic-small-underline-font-size: 12px;
  --applecom-semantic-small-underline-line-height: 16px;
  --applecom-semantic-small-underline-font-weight: 400;
  --applecom-semantic-small-underline-font-style: normal;

  /* Effects */
}
/* Figma Color Variables of your File */
[data-applecom-mode="mode-1"] {
  /* mode-1 */
  --r-globalnav-background-opened: #fafafc;
  --r-globalnav-background-opened-dark: #161617;
  --sk-focus-color: #0071e3;
  --sk-focus-color-alt: #000000;
  --sk-body-text-color: #1d1d1f;
  --sk-headline-text-color: #1d1d1f;
  --sk-body-background-color: #ffffff;
  --sk-body-link-color: #0066cc;
  --sk-glyph: #000000;
  --sk-glyph-gray: #1d1d1f;
  --sk-glyph-gray-alpha: rgba(0, 0, 0, 0.88);
  --sk-glyph-gray-secondary: #6e6e73;
  --sk-glyph-gray-secondary-alpha: rgba(0, 0, 0, 0.56);
  --sk-glyph-gray-secondary-alt: #424245;
  --sk-glyph-gray-secondary-alt-alpha: rgba(0, 0, 0, 0.72);
  --sk-glyph-gray-tertiary: #86868b;
  --sk-glyph-gray-tertiary-alpha: rgba(0, 0, 0, 0.48);
  --sk-glyph-blue: #0066cc;
  --sk-glyph-orange: #b64400;
  --sk-glyph-green: #008009;
  --sk-glyph-red: #e30000;
  --sk-fill: #ffffff;
  --sk-fill-secondary: #fafafc;
  --sk-fill-tertiary: #f5f5f7;
  --sk-fill-gray: #1d1d1f;
  --sk-fill-gray-alpha: rgba(0, 0, 0, 0.88);
  --sk-fill-gray-secondary: #86868b;
  --sk-fill-gray-secondary-alpha: rgba(0, 0, 0, 0.48);
  --sk-fill-gray-tertiary: #d2d2d7;
  --sk-fill-gray-tertiary-alpha: rgba(0, 0, 0, 0.16);
  --sk-fill-gray-quaternary: #e8e8ed;
  --sk-fill-gray-quaternary-alpha: rgba(0, 0, 0, 0.08);
  --sk-fill-blue: #0071e3;
  --sk-fill-orange: #f56300;
  --sk-fill-orange-secondary: #fff9f4;
  --sk-fill-green: #03a10e;
  --sk-fill-green-secondary: #f5fff6;
  --sk-fill-red: #e30000;
  --sk-fill-red-secondary: #fff2f4;
  --sk-fill-yellow: #ffe045;
  --sk-fill-yellow-secondary: #fffef2;
  --sk-productred: #af1e2d;
  --sk-enviro-green: #00d959;
  --sk-enviro-neutral: #e8e8ed;
  --color-azure-58: #2997ff;
  --color-grey-83-64: rgba(210, 210, 215, 0.64);
  --color-black-50: rgba(0, 0, 0, 0.5);
  --color-black-0: rgba(0, 0, 0, 0);
  --color-white-02: rgba(255, 255, 255, 0);
  --color-grey-12-40: rgba(29, 29, 31, 0.4);
  --color-grey-12-0: rgba(29, 29, 31, 0);
  --color-grey-97: #f4f8fb;
  --color-blue-22: #2d2a45;
  --color-magenta-56: #ea33c0;
  --color-azure-79: #9fc6f4;
  --color-orange-25: #56412b;
  --color-violet-43: #7424b5;
  --color-azure-20: #002c66;
  --color-yellow-21: #524617;
  --color-grey-96-80: rgba(245, 245, 247, 0.8);
  --color-black-80: rgba(0, 0, 0, 0.8);
}
