.home,
.home * {
  box-sizing: border-box;
}
.home {
  background: #ffffff;
  height: 700px;
  position: relative;
}
.home2 {
  height: auto;
  position: absolute;
  left: calc(50% - 352px);
  top: 0px;
  overflow: visible;
}
._25-00 {
  color: #ffffff;
  text-align: center;
  font-family: "PixelifySans-Regular", sans-serif;
  font-size: 128px;
  font-weight: 400;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 168px;
  width: 405px;
  height: 242px;
}
._3-button-0-1 {
  width: 193px;
  height: 193px;
  position: absolute;
  left: 245px;
  top: 314px;
  object-fit: cover;
  aspect-ratio: 1;
}
._3-button-1-1 {
  width: 193px;
  height: 193px;
  position: absolute;
  left: 342px;
  top: 314px;
  object-fit: cover;
  aspect-ratio: 1;
}
._3-button-2-1 {
  width: 193px;
  height: 193px;
  position: absolute;
  left: 133px;
  top: 318px;
  object-fit: cover;
  aspect-ratio: 1;
}
